@use './mixins' as *;
@use './variables' as *;

.game-banner {
    position: relative;
    transition: all 0.5s ease-in-out;


    .img-wrapper::before {
        @include image-wrapper;

    }

    img {
        width: 272px;
        height: 188px;
        display: block;

    }

    .game-btns {

        opacity: 0;
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px;
        position: absolute;
        top: 63px;
        left: 70px;
        transition: all 0.5s ease-in-out;




        .play {
            @include play-btn;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: rgb(255, 255, 255);
                color: $color-dark-blue
            }

        }

        .demo {
            @include demo-btn;
            transition: all 0.5s ease-in-out;


        }
    }

    &:hover {
        .game-btns {
            opacity: 1;
        }

        .img-wrapper::before {
            opacity: 1;
        }

    }
}

.game-name {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
    padding-top: 6px;

    p {
        @include reset-margin-and-padding;
        font-size: 14px;
        color: #9FA1AA;
        font-weight: bold;
    }
}