@use './mixins' as *;
@use './variables' as *;
@use './normalize.css' as *;
@use './modal.scss' as *;
@use './gameCard.scss' as *;

* {
    box-sizing: border-box;

    .container {
        max-width: 1390px;
        @include centering();
        padding: 0 16px;
    }

    body {
        background-color: $color-dark-blue;

        p,
        h1,
        h2,
        button {
            font-family: sans-serif;
        }

        .header-container {
            @include flex-space-between;
            padding: 20px 24px;

            .search-btn {
                @include reset-button();
            }
        }

        .hero-section {
            background-image: url(../img/hero-banner.png);
            background-size: cover;
            background-position: center;
            height: 338px;

            .hero-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;



                .hero-info {
                    padding-left: 15px;
                    min-width: 208px;

                    @media (max-width: 800px) {
                        width: 400px;
                    }


                    .hero-title {
                        color: $color-white;
                        font-size: 55px;
                        max-width: 545px;
                        @include reset-margin-and-padding;
                        padding-top: 50px;
                        line-height: 1;
                        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

                        @media (max-width: 800px) {
                            font-size: 30px;
                        }
                    }

                    .hero-subtitle {
                        color: $color-white;
                        font-size: 35px;
                        @include reset-margin-and-padding;
                        padding-top: 16px;
                        padding-bottom: 15px;

                        @media (max-width: 800px) {
                            font-size: 20px;
                        }
                    }

                    .hero-btn {
                        @include reset-button();
                        transition: all 0.5s ease-in-out;
                        color: $color-white;
                        font-weight: bold;
                        padding: 15px 75px;
                        border: 3px solid $color-white;
                        border-radius: 20px;
                        box-shadow:
                            -1px -1px 2px rgba(252, 252, 252, 0.788),
                            4px 4px 10px rgba(0, 0, 0, 0.35);

                        &:hover {
                            background-color: $color-white;
                            color: $color-dark-blue;
                        }

                        @media (max-width: 800px) {
                            padding: 10px 55px;
                        }

                    }
                }

                .hero-banner {
                    object-fit: cover;
                    object-position: center;

                }

            }
        }

        .winners-section {
            padding-top: 16px;

            .winners-list {
                @include reset-list();
                display: flex;
                overflow-x: hidden;
                white-space: nowrap;
                overflow: hidden;
                cursor: grab;
                user-select: none;
                gap: 8px;
                margin: 0;
                -webkit-overflow-scrolling: touch;
                scroll-snap-type: x mandatory;

                @media (max-width: 800px) {
                    overflow-x: auto;
                }



                .winners-list-item {
                    background-color: $color-grey;
                    width: fit-content;
                    padding: 8px;
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    user-select: none;


                    .winner-img {
                        width: 68px;
                        height: 48px;
                    }

                    .winner-info {
                        padding-left: 4px;

                        .game-name {
                            color: $color-orange;
                            font-size: 14px;
                            @include reset-margin-and-padding;
                            margin-bottom: 3px;

                        }

                        .prize-sum {
                            color: #289211;
                            font-size: 14px;
                            @include reset-margin-and-padding;
                            margin-bottom: 3px;


                        }

                        .winner-name {
                            color: $color-white;
                            font-size: 12px;
                            @include reset-margin-and-padding
                        }
                    }
                }
            }
        }

        .resent-games-section {
            padding-top: 16px;

            .resent-games-container {
                .resent-games-header {
                    @include flex-space-between;

                    .resent-games-btns {

                        .resent-btn,
                        .favorite-btn {
                            @include reset-button;
                            @include subtitle;
                            padding: 14px 27px;
                            transition: all 0.5s ease-in-out;
                            border: 0.5px solid transparent;
                            border-radius: 12px;

                            &:hover {
                                border: 0.5px solid $color-orange;

                            }



                        }

                        .active {
                            border: 1px solid $color-orange;
                            border-radius: 12px;
                        }
                    }

                    .resent-games-nav {
                        display: flex;
                        gap: 8px;

                        .before-btn,
                        .next-btn,
                        .showAll-btn {
                            @include reset-button;
                            @include nav-btns;
                            transition: all 0.5s ease-in-out;

                            &:hover {
                                background-color: gray
                            }
                        }

                        @media (max-width: 768px) {

                            .before-btn,
                            .next-btn {
                                display: none;
                            }
                        }

                    }
                }

                .resent-games-list {
                    @include reset-list;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: auto;
                    gap: 8px;
                    overflow: hidden;

                    @media (max-width: 800px) {
                        overflow-x: auto;
                    }


                    .resent-games-list-item {
                        padding-bottom: 20px;
                        max-width: 50%
                    }


                }
            }
        }

        .top-games-section {
            .top-games-container {
                .top-games-header {
                    @include flex-space-between;

                    h2 {
                        @include subtitle;

                    }

                    .top-games-nav {
                        display: flex;
                        gap: 8px;

                        .top-before-btn,
                        .top-next-btn,
                        .top-showAll-btn {
                            @include nav-btns;
                            transition: all 0.5s ease-in-out;

                            &:hover {
                                background-color: gray
                            }
                        }

                        @media (max-width: 768px) {

                            .top-before-btn,
                            .top-next-btn {
                                display: none;
                            }
                        }
                    }
                }

                .top-games-list {

                    @include reset-list;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: auto;
                    gap: 8px;
                    overflow: hidden;

                    @media (max-width: 800px) {
                        overflow-x: auto;
                    }

                    .top-games-list-item {
                        padding-bottom: 20px;


                    }

                }
            }
        }
    }
}