@use './mixins' as *;
@use './variables' as *;

@import './normalize.css';


* {
    box-sizing: border-box;

    .container {
        max-width: 1390px;
        @include centering()
    }

    body {

        background-color: $color-dark-blue;

        p,
        h1,
        h2,
        button {
            font-family: sans-serif;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 24px;

            .search-btn {
                @include reset-button();
            }
        }

        .hero-section {
            background-color: #8CA2F5;
            // padding-bottom: 34px;

            .hero-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .hero-title {
                    color: $color-white;
                    font-size: 55px;
                    max-width: 545px;
                    @include reset-margin-and-padding;
                    padding-top: 50px;
                    line-height: 1;
                    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
                }

                .hero-subtitle {
                    color: $color-white;
                    font-size: 35px;
                    @include reset-margin-and-padding;
                    padding-top: 16px;
                    padding-bottom: 15px;
                }

                .hero-btn {
                    @include reset-button();
                    transition: all 0.5s ease-in-out;
                    color: $color-white;
                    font-weight: bold;
                    padding: 15px 75px;
                    border: 3px solid $color-white;
                    border-radius: 20px;
                    box-shadow:
                        -1px -1px 2px rgba(252, 252, 252, 0.788),
                        4px 4px 10px rgba(0, 0, 0, 0.35);

                    &:hover {
                        background-color: $color-white;
                        color: $color-dark-blue;
                    }

                }
            }
        }

        .winners-section {
            padding-top: 16px;

            .winners-list {
                @include reset-list();
                display: flex;
                overflow-x: hidden;
                white-space: nowrap;
                overflow: hidden;
                cursor: grab;
                user-select: none;
                gap: 8px;
                margin: 0;



                .winners-list-item {
                    background-color: $color-grey;
                    width: fit-content;
                    padding: 8px;
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    user-select: none;


                    .winner-img {
                        width: 68px;
                        height: 48px;
                    }

                    .winner-info {
                        padding-left: 4px;

                        .game-name {
                            color: $color-orange;
                            font-size: 14px;
                            @include reset-margin-and-padding;
                            margin-bottom: 3px;

                        }

                        .prize-sum {
                            color: #289211;
                            font-size: 14px;
                            @include reset-margin-and-padding;
                            margin-bottom: 3px;


                        }

                        .winner-name {
                            color: $color-white;
                            font-size: 12px;
                            @include reset-margin-and-padding
                        }
                    }
                }
            }
        }

        .resent-games-section {
            padding-top: 16px;

            .resent-games-container {
                .resent-games-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .resent-games-btns {

                        .resent-btn,
                        .favorite-btn {
                            @include reset-button;
                            @include subtitle;
                            padding: 14px 27px;
                            transition: all 0.5s ease-in-out;
                            border: 0.5px solid transparent;
                            border-radius: 12px;

                            &:hover {
                                border: 0.5px solid rgb(209, 188, 148);

                            }



                        }

                        .active {
                            border: 1px solid $color-orange;
                            border-radius: 12px;
                        }
                    }

                    .resent-games-nav {
                        display: flex;
                        gap: 8px;

                        .before-btn,
                        .next-btn,
                        .showAll-btn {
                            @include reset-button;
                            @include nav-btns;
                            transition: all 0.5s ease-in-out;

                            &:hover {
                                background-color: gray
                            }
                        }

                    }
                }

                .resent-games-list {
                    @include reset-list;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .resent-games-list-item {
                        padding-bottom: 20px;

                        .game-banner {
                            position: relative;
                            transition: all 0.5s ease-in-out;


                            .img-wrapper::before {
                                @include image-wrapper;

                            }

                            img {
                                width: 272px;
                                height: 188px;
                                display: block;

                            }

                            .game-btns {

                                opacity: 0;
                                display: flex;
                                flex-direction: column;
                                width: fit-content;
                                gap: 10px;
                                position: absolute;
                                top: 63px;
                                left: 70px;



                                .play {
                                    @include play-btn;
                                    transition: all 0.5s ease-in-out;

                                    &:hover {
                                        background-color: rgb(255, 255, 255);
                                        color: $color-dark-blue
                                    }

                                }

                                .demo {
                                    @include demo-btn;
                                    transition: all 0.5s ease-in-out;


                                }
                            }

                            &:hover {
                                .game-btns {
                                    opacity: 1;
                                }

                                .img-wrapper::before {
                                    opacity: 1;
                                }

                            }
                        }

                        .game-name {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            padding-left: 8px;
                            padding-top: 6px;

                            p {
                                @include reset-margin-and-padding;
                                font-size: 14px;
                                color: #9FA1AA;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        .top-games-section {
            .top-games-container {
                .top-games-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        @include subtitle;

                    }

                    .top-games-nav {
                        display: flex;
                        gap: 8px;

                        .top-before-btn,
                        .top-next-btn,
                        .top-showAll-btn {
                            @include nav-btns;
                            transition: all 0.5s ease-in-out;

                            &:hover {
                                background-color: gray
                            }
                        }
                    }
                }

                .top-games-list {
                    display: flex;
                    justify-content: space-between;
                    @include reset-list;
                    flex-wrap: wrap;

                    .top-games-list-item {
                        padding-bottom: 20px;

                        .top-game-banner {
                            position: relative;

                            .top-img-wrapper::before {
                                @include image-wrapper;

                            }




                            img {
                                width: 272px;
                                height: 188px;
                                display: block;
                            }

                            .top-game-btns {
                                opacity: 0;
                                display: flex;


                                flex-direction: column;
                                width: fit-content;
                                gap: 10px;
                                position: absolute;
                                top: 63px;
                                left: 70px;
                                transition: all 0.5s ease-in-out;

                                .top-play {
                                    @include play-btn;
                                    transition: all 0.5s ease-in-out;

                                    &:hover {
                                        background-color: rgb(255, 255, 255);
                                        color: $color-dark-blue
                                    }
                                }
                            }

                            .top-demo {
                                @include demo-btn;
                            }

                            &:hover {
                                .top-game-btns {
                                    opacity: 1;

                                }

                                .top-img-wrapper::before {
                                    opacity: 1;
                                }

                            }
                        }

                        .top-game-name {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            padding-left: 8px;
                            padding-top: 6px;

                            p {
                                @include reset-margin-and-padding;
                                font-size: 14px;
                                color: #9FA1AA;
                                font-weight: bold;
                            }
                        }


                    }

                }
            }
        }
    }
}