@use './variables' as *;

@mixin centering {
    margin-left: auto;
    margin-right: auto;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin reset-button {
    background: none;
    border: none;
}

@mixin reset-list {
    list-style-type: none;
    padding-left: 0;
}

@mixin reset-margin-and-padding {
    margin: 0;
    padding: 0;
}

@mixin subtitle {
    color: $color-white;
    font-size: 16px;
    font-weight: bold;
}

@mixin nav-btns {
    background-color: $color-grey;
    padding: 6px 10px 6px 10px;
    border: none;
    border-radius: 8px;
    color: $color-white
}

@mixin play-btn {
    @include reset-button();
    color: $color-white;
    background-color: $color-orange;
    padding: 16px 48px;
    border-radius: 16px;
    font-weight: bold;
}

@mixin demo-btn {
    @include reset-button;
    color: $color-white;
    padding: 16px 48px;
    font-weight: bold;
}

@mixin image-wrapper {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    pointer-events: none;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}